body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #7f9fff;
}

#controls {
    margin: 20px;
}

canvas {
    border: 1px solid black;
    background-color: #eff3ff;
    border-radius: 20px;
}
